<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><img src="/images/logo.png" style="border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70px;"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="#">HOME</a></li>
        <li id="about"><a href="/list_product">SHOW PRODUCTS</a></li>
        <li id="contact"><a href="/home">ADD PRODUCT</a></li>
        <li id="contact"><a href="/logout">LOG OUT</a></li>
      </ul>
    </div>
  </div>
</nav>