<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">
          <img src="/images/logo.png" style="border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 70px;"/>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/login">LOGIN</a></li>
        <li id="about"><a href="#">ABOUT US</a></li>
        <li id="contact"><a href="#">CONTACT US</a></li>
        <li id="contact"><a href="/signup">REGISTER</a></li>
      </ul>
    </div>
  </div>
</nav>