<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
  
   <div class="container">

        <div class="jumbotron text-center">
          <h1><span class="fa fa-lock"></span> Troov test Demo</h1>

          <p>Login ou Register </p>

          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Se connecter</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> S'enregistrer</a>
        </div>

    </div>
  
</body>
<% include partials/script %>
</html>