<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu_home %>
  
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h1>Modifier Produit</h1>
                      
                <form action="/lproduct/<%= product.id %>" method="post">
                    <div class="form-group">
                        <label>Réference Produit</label>
                        <input type="number" value="<%= product.ref_produit %>" class="form-control" name="ref">
                    </div>
                    <div class="form-group">
                        <label>Nom produit</label>
                        <input type="text" class="form-control" value="<%= product.libelle_produit %>" name="name">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control" value="<%= moment(product.date_production).format('MM/DD/YYYY') %>" name="date">
                    </div>
                    <div class="form-group">
                        <label>Prix</label>
                        <input type="number" class="form-control" value="<%= product.prix %>" name="prix">
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Modifier produit</button>
                </form>
            </div>
        </div>
    </div>
  
</body>
<% include partials/script %>
</html>











 
