<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
  
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h1>Register</h1>
                <form action="/api/auth/signup" method="post">
                    <div class="form-group">
                        <label>username</label>
                        <input type="text"  class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control"  name="firstname">
                    </div>
                    <div class="form-group">
                        <label>Prenom</label>
                        <input type="text" class="form-control" name="lastname" >
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control"  name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control"  name="password">
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                </form>
            </div>
        </div>
    </div>
  
</body>
<% include partials/script %>
</html>











 
