<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu_home %>

<div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-offset-1">
                <h1>Liste des Products</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Référence produit</th>
        <th scope="col">Nom produit</th>
        <th scope="col">Prix produit</th>
        <th scope="col">Supprimer</th>
        <th scope="col">Modifier</th>
      </tr>
    </thead>
    <tbody>
   <%  products.forEach((p,i=0) => { %>
                <tr>
                    <th scope="row"><%= i %></th>
                    <td><%= p.ref_produit %></td>
                    <td><%= p.libelle_produit %></td>
                    <td><%= p.prix %></td>
                    <td>
                      <a href="/delete_product/<%= p.id %>" onClick="return confirm('Are you sure you want to delete?')" class="btn btn-primary a-btn-slide-text"  >
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                          <span><strong>Delete</strong></span>            
                      </a>
                    </td>
                    <td>
                        <a href="/modify_product/<%= p.id %>" class="btn btn-primary a-btn-slide-text">
                           <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                           <span><strong>Modifier</strong></span>            
                        </a>  
                    </td>
                </tr>  
   <% }) %> 
    </tbody>
  </table>
            </div> 
        </div>
</div>     
</body>
<% include partials/script %>
</html>

